body {
    background-color: #F6F6F6;
    align-items: center;
    justify-content: center;
}
.question{
    margin-top: 25%;
}
.under_btn_box{
    width: 100%;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    

}
.under_btn{
    width: 90%;

}