body {
    background-color: #F6F6F6;
    align-items: center;
    justify-content: center;
}
.question{
    margin-top: 25%;
}
.under_btn_box{
    width: 100%;
}
.under_btn{
    position:relative;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
}