.signup_box {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}
.input_box {
    width: 80%;
    margin: 7vh auto;
}

.underline_input_box {
    margin-top: 0.5vh;
}

.check_before_submit_bottom_button_box {
    width: 80%;
    margin: 1vh auto;
}
.signUpTitle{
    margin-bottom: 9vh;
    font-weight: bold;
    font-size: 30px;
}