.vestie_header {
    background-color: #4184F2;
    height: 80px;
    margin-bottom: 30px;
}
.title_div{
    padding-top: 13px;
    padding-left: 15px;
    font-size: xx-large;
    color: white;
    font-weight: 500;
}