
.vestie_header {
    background-color: #4184F2;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.title_div{
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-left: 10vw;
}