.vestie_header {
    background-color: #4184F2;
    height: 10%;
    margin-bottom: 30px;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    right: 0;

}
.title_div{
    padding-top: 15px;
    padding-left: 15px;
    font-size: xx-large;
    color: white;
    font-weight: 500;
    text-align: left;
}