.underline_input_box {
    box-sizing: border-box;
    padding: 10px 10px 10px 10px ;
    border-radius: 15px;

}

.underline {
    width: 100%;
    height: 40px;
    border: 0 solid #a7a7a7;
    border-bottom-width: 2px;
    background-color: transparent;
    outline: 0;
}

.underline_box{
    margin-left: 5px;
    margin-bottom: 15px;

}
