body {
    background-color: #F6F6F6;
}

.register_question_box {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 88vw;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 20px;
}

.question_type_dropdown{
    margin-right: 3vw;
    float: right;
}

.type_title_box{
    display: flex;
    margin-bottom: 3vh;
}

.questionNumber {
    color: #4184F2;
    font-size: 25px;
    margin-right: 5px;
}

.add_questions{
    margin: 0.5vh 0 0 5vw;
}

.btn_add_choice{
    background-color: white;
    border: white 1px solid;
    border-radius: 8px;
    /* width: 30px; */
    /* height: 60px; */
    display: block;
    color: #4184F2;
    bottom: 50px;
    font-size: medium;
}

.btn_add_choice_box{
    margin: 0.5vh 0 0 5vw;

    display: flex;
}